<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gmedia.net.id.kartikaelektrik">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyCcCPKo0cIsyM_YOsTZIv8ZMsuzDrnrAAM" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo_kartika"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Service -->
        <service android:name=".notificationService.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notificationService.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".util.LocationUpdater"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notif" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_notif" />

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activityTambahOrderSales.ListMenuCategoryBarang" />
        <activity android:name=".activityTambahOrderSales.ListMenuCategoryBarangDetailPotrait" />
        <activity android:name=".activityTambahOrderSales.OrderDetail" />
        <activity android:name=".activitySalesOrderDetail.DetailSalesOrder" />

        <service android:name=".services.BackgroundLocationService" />

        <activity android:name=".activityPiutang.ListPiutang" />
        <activity android:name=".activityCustomer.CustomerDetail" />
        <activity android:name=".LoginScreen" />
        <activity
            android:name=".Dashboard"
            android:theme="@style/AppTheme.NoActionBarDashboard" />
        <activity android:name=".DashboardContainer" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".activityKomisi.KomisiPembayaran" />
        <activity android:name=".activityKomisi.DetailKomisiDendaPembayaran" />
        <activity android:name=".activityKomisi.SubDetailKomisiDendaPembayaran" />
        <activity android:name=".activityDenda.DendaPembayaran" />
        <activity android:name=".activityBonus.Bonus" />
        <activity android:name=".activityBonus.DetailBonus" />
        <activity android:name=".activityBonus.SubDetailBonus" />
        <activity android:name=".activityPermintaanHargaOrder.DetailPermintaanHargaOrder" />
        <activity android:name=".activityPermintaanHargaOrder.SubDetailPermintaanHargaOrder" />
        <activity android:name=".activityPiutang.DetailPiutang" />
        <activity android:name=".activityInfoStok.InfoStokBarang" />
        <activity android:name=".activityInfoStok.InfoStokCanvas" />
        <activity android:name=".activityKomisi.DetailKomisiDenda" />
        <activity android:name=".activityPiutang.ListPiutangPerCustomer" />
        <activity android:name=".activityPiutang.DetailListPiutangCustomer" />
        <activity android:name=".activityPiutang.DetailPiutangJatuhTempo" />
        <activity android:name=".activityPiutang.DetailPiutangPerNota" />
        <activity android:name=".ActivityRetur.ReturCustomer" />
        <activity android:name=".ActivityRetur.ReturTelahDiproses" />
        <activity
            android:name=".ActivityRetur.ReturSelisihNota"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOmsetPenjualan.DetailOmsetCustomer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOmsetPenjualan.DetailOmsetPerNota"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityEntryPenjulanCanvas.DetailEntryBarangCanvas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityEntryPenjulanCanvas.DetailOrderEntryCanvas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityEntryPenjulanCanvas.DetailCheckOutCanvas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityTambahOrderSales.ListBarangSalesOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOmsetPenjualan.ListOmsetCustomer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOmsetPenjualan.ListOmsetBarang"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOmsetPenjualan.DetailOmsetPerBarang"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityEntryPenjulanCanvas.AddNewCanvasOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityPiutang.SubDetailPiutangJatuhTempo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityEntryPenjulanCanvas.DetailBarangCanvas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityEntryPaket.DetailBarangPaket"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityEntryPaket.OrderDetailPaket"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="KARTIKA_HOME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityRetur.DetailBarangRetur"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityRetur.ReturDatePicker"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOmsetPenjualan.DatePickerOmset"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOrderCustom.OrderCustomDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOrderCustom.DetailOrderCustom"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOrderCustom.AddNewCustomOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOrderCustom.ListBarangCustom"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySetoran.DetailFormSetoran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySetoran.CustomerSetoran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySetoran.RincianSetoran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityInfoStok.DetailStokBarang"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySetoran.TambahSetoran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySetoran.MutasiSetoran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySetoran.DetailMutasiSetoran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityHistoryPenjualanBarang.BarangTidakLaku"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityHistoryPenjualanBarang.BarangPalingLaku"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOmsetPenjualan.ListSalesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySetoran.ListNotaPiutang"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySetoran.DetailCheckoutSetoran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySetoran.RekapMutasi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySetoran.DetailSetoranPerNota"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMenuAdmin.ApprovalHargaSO"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMenuAdmin.LabaRugiOmsetJual"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMenuAdmin.VerifikasiLimitCustomer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMenuAdmin.JatuhTempoGiro"
            android:screenOrientation="portrait" />
        <activity android:name=".ActivityMenuAdmin.LabaRugiOmsetSetoran" />
        <activity android:name=".activitySetoran.DetailRincianSetoran" />
        <activity android:name=".activityInfoStok.HistoryBarangCanvas"></activity>
    </application>

</manifest>