<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gmedia.net.id.kartikaelektrik">

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo_kartika"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityMenuAdmin.ApprovalPengajuanTempo"></activity>
        <activity android:name=".activityPengajuanTempo.ActBarangPengajuanTempo" />
        <activity android:name=".activityPengajuanTempo.ActCustomerPengajuanTempo" />
        <activity android:name=".activityProfile.ProfileActivity" />
        <activity
            android:name=".activityPengeluaran.DetailPengeluaran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Service -->
        <activity
            android:name=".activityTambahOrderSales.ListMenuCategoryBarang"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityTambahOrderSales.ListMenuCategoryBarangDetailPotrait"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityTambahOrderSales.OrderDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySalesOrderDetail.DetailSalesOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityPiutang.ListPiutang"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityCustomer.CustomerDetail"
            android:screenOrientation="portrait" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <activity
            android:name=".LoginScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarDashboard" />
        <activity
            android:name=".DashboardContainer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityKomisi.KomisiPembayaran"
            android:screenOrientation="portrait" /> <!-- <service android:name=".services.BackgroundLocationService" /> -->
        <activity
            android:name=".activityKomisi.DetailKomisiDendaPembayaran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityKomisi.SubDetailKomisiDendaPembayaran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityDenda.DendaPembayaran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityBonus.Bonus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityBonus.DetailBonus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityBonus.SubDetailBonus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityPermintaanHargaOrder.DetailPermintaanHargaOrder"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="ACT_APV_HARGA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activityPermintaanHargaOrder.SubDetailPermintaanHargaOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityPiutang.DetailPiutang"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityInfoStok.InfoStokBarang"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityInfoStok.InfoStokCanvas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityKomisi.DetailKomisiDenda"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityPiutang.ListPiutangPerCustomer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityPiutang.DetailListPiutangCustomer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityPiutang.DetailPiutangJatuhTempo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityPiutang.DetailPiutangPerNota"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityRetur.ReturCustomer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityRetur.ReturTelahDiproses"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityRetur.ReturSelisihNota"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOmsetPenjualan.DetailOmsetCustomer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOmsetPenjualan.DetailOmsetPerNota"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityEntryPenjulanCanvas.DetailEntryBarangCanvas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityEntryPenjulanCanvas.DetailOrderEntryCanvas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityEntryPenjulanCanvas.DetailCheckOutCanvas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityTambahOrderSales.ListBarangSalesOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOmsetPenjualan.ListOmsetCustomer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOmsetPenjualan.ListOmsetBarang"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOmsetPenjualan.DetailOmsetPerBarang"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityEntryPenjulanCanvas.AddNewCanvasOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityPiutang.SubDetailPiutangJatuhTempo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityEntryPenjulanCanvas.DetailBarangCanvas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityEntryPaket.DetailBarangPaket"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityEntryPaket.OrderDetailPaket"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="KARTIKA_HOME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityRetur.DetailBarangRetur"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityRetur.ReturDatePicker"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOmsetPenjualan.DatePickerOmset"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOrderCustom.OrderCustomDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOrderCustom.DetailOrderCustom"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOrderCustom.AddNewCustomOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOrderCustom.ListBarangCustom"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySetoran.DetailFormSetoran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySetoran.CustomerSetoran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySetoran.RincianSetoran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityInfoStok.DetailStokBarang"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySetoran.TambahSetoran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySetoran.MutasiSetoran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySetoran.DetailMutasiSetoran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityHistoryPenjualanBarang.BarangTidakLaku"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityHistoryPenjualanBarang.BarangPalingLaku"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityOmsetPenjualan.ListSalesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySetoran.ListNotaPiutang"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySetoran.DetailCheckoutSetoran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySetoran.RekapMutasi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySetoran.DetailSetoranPerNota"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMenuAdmin.ApprovalHargaSO"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMenuAdmin.LabaRugiOmsetJual"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMenuAdmin.VerifikasiLimitCustomer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMenuAdmin.JatuhTempoGiro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMenuAdmin.LabaRugiOmsetSetoran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitySetoran.DetailRincianSetoran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityInfoStok.HistoryBarangCanvas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMenuAdmin.HistoryLimitCustomer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMenuAdmin.HistoryLimitCustomerDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuAdminPerjalananSales.ListSalesPerjalanan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuAdminPerjalananSales.PerjalananSales"
            android:label="@string/title_activity_perjalanan_sales"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuAdminPengaturanHeader.DetailPengaturanHeader"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityHapusDenda.DetailDendaCustomerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuAdminApvHapusDenda.DetailApvHapusDenda"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuAdminApvHapusDenda.DetailApvHapusDendaCustomer"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notif" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_notif" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".notificationService.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notificationService.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".util.LocationUpdater"
            android:enabled="true"
            android:exported="true" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>